/* Universel */

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #333;
  color: #FFF;
  font-size: 1.1em;
  line-height: 1.5;
}

section {
  width: 100%;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #333;
  color: #EEE;
}

section hr {
  width: 8%;
  margin-left: 46%;
  margin-top: 15px;
}

section h3 {
  font-size: 1.5em;
}

section h4 {
  font-size: 1.2em;
}

.annee1, .experience1 {
  font-weight: 500;
  font-size: 1.4em;
}

.lieu1, .lieuTravail1 {
  font-weight: 400;
  font-size: 0.9em;
}

.formation1, .descTravail1 {
  font-weight: 500;
  font-size: 1em;
}

.annee2 {
  color: #444;
  font-weight: 400;
  font-size: 1.4em;
}

.lieu2 {
  color: #444;
  font-weight: 300;
  font-size: 0.9em;
}

.formation2 {
  color: #444;
  font-weight: 400;
  font-size: 1em;
}

.annee3 {
  color: #555;
  font-weight: 300;
  font-size: 1.4em;
}

.lieu3 {
  color: #555;
  font-weight: 200;
  font-size: 0.9em;
}

.formation3 {
  color: #555;
  font-weight: 300;
  font-size: 1em;
}

.annee4 {
  color: #666;
  font-weight: 200;
  font-size: 1.4em;
}

.formation4 {
  color: #666;
  font-weight: 200;
  font-size: 1em;
}




/* Header */

#header .bg-image {
  position: absolute;
  background: #333 url("./img/background_origin_sombre.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0.5;
}

#header {
  width: 100%;
  height: 100vh;
}

#header .content-wrap {
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

#header hr {
  margin-left: 10%;
  margin-right: 10%;
  border-color: #FFF;
}

#header a {
  text-decoration: none;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 2px;
  padding: 15px 30px;
  transition: all 0.3s;
}

#header a:hover {
  color: #333;
  background-color: #FFF;
}

#header h1 {
  font-size: 8vw;
  font-weight: 400;
}

#header h2 {
  font-weight: 200;
  font-size: 1.15em;
}

@-webkit-keyframes arrow {
  0%, 100% {
    top: 50px;
  }
  50% {
    top: 80px;
  }
}

@keyframes arrow {
  0%, 100% {
    top: 50px;
  }
  50% {
    top: 80px;
  }
}






/* Fixed top navbar */
.navbar {
  height: 54px;
  background: #222;
  color: #f1f1f1;
  transition: all 0.2s;
}

.navbar:hover {
  opacity: 1;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.7;
  z-index: 1;
}

#nomNavbar {
  width: 33%;
  text-align: left;
  line-height: 17px;
  padding: 10px 0;
  margin-left: 16px;
  position: absolute;
  display: inline-block;
}

#nomNavbar h1 {
  font-size: 1.1em;
  font-weight: 600;
}

#nomNavbar h3 {
  font-size: 1.1em;
  font-weight: 100;
}

#contenuNavbar {
  display: inline-block;
  width: 67%;
  position: absolute;
  line-height: 54px;
  text-align: right;
  right: 0;
  padding-right: 16px;
}

#contenuNavbar a {
  color: #FFF;
  text-decoration: none;
  font-weight: 100;
  transition: all 0.2s;
}

#contenuNavbar a:hover {
  font-weight: 600;
}

#contenuNavbar a:not([class="icon"]) {
  display: none;
}

#myNavbar .responsive {
  width: 100%;
}

#myNavbar .responsive a:not([class="icon"]) {
  display: block;
  background-color: #222;
  width: 100%;
  padding-right: 16px;
}






/* Main */

#section-a {
  background: #DDD url("./img/Fond_1.png");
  background-size: cover;
  background-position: bottom;
}

#section-a p {
  padding: 0 5vw;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 100;
}

#section-a .presentation {
  margin-top: 50px;
}





#section-d {
  background: #DDD url(./img/Fond_2.png);
  background-size: cover;
  background-position: bottom;
  height: auto;
  color: #333;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 110px;
  width: calc(100% - 20px);
}

#section-d h2, #section-d p {
  font-weight: 300;
}

#section-d h2 {
  font-size: 2.5em;
}

#section-d hr {
  border-color: #333;
}

.portfolio-item {
  margin-top: 40px;
}

.portfolio-item img {
  border-radius: 20px;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0px 0px 25px -15px rgba(0,0,0,0.5); 
  box-shadow: 0px 0px 25px -15px rgba(0,0,0,0.5);
}

.portfolio-item a {
  color: #333;
  text-decoration: underline;
}

.portfolio-item p {
  font-size: 14px;
  color: #333;
}






#section-e {
  width: 100%;
}

#section-e .competence {
  width: calc(100% - 40px);
  height: auto;
  padding: 0 20px;
}

#section-e img {
  width: 40%;
  height: auto;
}





/* Map */

a.mapboxgl-ctrl-logo {
  display: none;
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

#map {
  width: 100%;
  height: 300px;
}




/* Footer */
footer {
  width: 100%;
  background-color: #222;
  text-align: center;
}

footer .col {
  color: #FFF;
}

footer h3 {
  padding-top: 60px;
  padding-bottom: 15px;
}

footer input:not([type="button"]), footer textarea {
  padding: 7px 10px;
  width: calc(90% - 20px);
  margin: 4px 0;
  background-color: #444;
  border: none;
  color: #FFF;
  resize: none;
  border-radius: 2px;
}

footer input[type="button"] {
  margin: 12px 0;
  margin-bottom: 30px;
  padding: 14px 20px;
  border: none;
  color: #FFF;
  background-color: #444;
  border-radius: 2px;
  cursor: pointer;
}

footer a {
  text-decoration: none;
  color: #FFF;
  font-weight: 200;
  transition: all 0.1s;
}

footer a:hover {
  font-weight: 600;
}

footer i {
  margin: 0 20px;
}

footer hr {
  width: 8%;
  margin-left: 46%;
  margin-bottom: 35px;
}

#icons {
  padding-bottom: 60px;
}

.copyrights {
  background-color: #111;
  color: #444;
  padding: 12px;
  text-align: center;
  font-size: 0.8em;
}

#pAdresseMail {
  font-weight: 100;
}






/* Icones */
.fa-linkedin, .fa-facebook, .fa-gitlab {
  transition: all 0.2s;
}

.fa-linkedin:hover {
  color: #0077B5;
}

.fa-facebook:hover {
  color: #3B5998;
}

.fa-gitlab:hover {
  color: #FC6D26;
}






@media(min-width: 768px) {
  section hr {
    width: 3%;
    margin-left: 48.5%;
  }

  #header .content-wrap {
    width: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
  }

  #header hr {
    margin-left: 10%;
    margin-right: 10%;
  }

  #header h1 {
    font-size: 4vw;
  }

  #header h2 {
    margin-top: 1%;
    font-size: 2vw;
  }




  #contenuNavbar a:not([class="icon"]) {
    display: inline-block;
  }

  #contenuNavbar .icon {
    display: none;
  }

  #contenuNavbar {
    width: 100%;
    text-align: center;
  }

  #contenuNavbar a {
    margin: 0 2vw;
  }



  #section-a p {
    padding-left: 20%;
    padding-right: 20%;
  }



  #section-d .portfolio-items {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .portfolio-item {
    width: 30%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }

  .portfolio-item img {
    width: 80%;
  }

  .portfolio-item a {
    margin-top: 10px;
    font-size: 18px;
    text-decoration: underline;
  }

  .portfolio-item p {
    font-size: 16px;
    color: #333;
  }
  


  #section-e .competences {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #section-e .competence {
    width: 20%;
    padding: 0 2.5%;
  }

  #section-e p {
    font-weight: 100;
  }
  
  

  
  #main-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}